.wrapper-div {
  display: flex;
  background: #9acd32;
  justify-content: space-between;
}
.navbar-right {
  display: flex;
  gap: 20px;
  margin: 0px 35px;
}
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
}
.navList li{
  color: white;
  cursor: pointer;
}
.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px 35px;
}
.Navbar-news{
  display: flex;
  align-items: center;
  padding: 10px;
}
.Navbar-news:hover{
  cursor: pointer;
}
.nav-container nav{
  display: flex;
  justify-content:left;
  align-items: center;
  gap: 15px;
}
.nav-new-sub{
  display: none;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.nav-new-sub li{
  font-size: 15px;
  padding: 10px;
  color: black;
}
.nav-menu-visible1{
  display: flex;
}
.arrow-down{
  width: 12px;
  height: 12px;
  margin-left: 3px;
  transition: .5s;
}
.arrow-down.down{
  rotate: 0deg;
}
.nav-right li{
  color: white;
}
.nav-dropdown{
  display: none;
  margin: auto;
}

@media(max-width: 860px){
  .nav-container{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navList li{
    font-size: 10px;
  }
  .navList{
    display: none;
    height: 26px;
    position: absolute;
    justify-content: center;
    top: 58px;
  }
  .nav-dropdown{
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
    cursor: pointer;
  }
  .nav-right ul li{
    color: rgb(0, 0, 0);
    font-size: 10px;
  }
  .Navbar-news img{
    height: 10px;
    width: 10px;
  }
  .nav-dropdown.open{
    rotate: 0deg;
  }
  .nav-menu-visible{
    display: flex;
  }
  .nav-new-sub li{
    font-size: 10px;
    padding: 10px;
    color: black;
  }

}