.new-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest-news {
  display: flex;
  width: 90%;
}
.News-buttons {
  width: 90%;
}

.new-wrapper h2 {
  margin-top: 20px;
}
.news-with-API {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
}
.API-pp p {
  font-size: 13px;
}
.API-pp {
  width: 600px;
  height: 360px;
  margin-top: 15px;
  overflow-x: hidden;
}
.API-pp img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}
.API-pp:hover img {
  transform: scale(1.1);
}
.API-image {
  width: 100%;
}

.tec {
  background: #9acd32;
  font-size: 12px;
  padding: 4px;
}
.News-buttons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.News-buttons button {
  padding: 10px;
  border: none;
}
.News-buttons button:hover {
  cursor: pointer;
}
@media(max-width: 1365px){
    .API-pp{
        width: 550px;
    }
}
@media(max-width: 1260px){
    .API-pp{
        width: 500px;

    }
}
@media(max-width: 1150px){
    .API-pp{
        width: 450px;

    }
}
@media(max-width: 1040px){
    .API-pp{
        width: 400px;

    }
}
@media(max-width: 930px){
    .API-pp{
        width: 350px;
    }
}
@media(max-width: 852px){
    .API-pp{
        width: 90%;
    }
}
